<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Teacher</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>

</head>
<body>
<div th:replace="/nav_bar"/>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Edit Teacher</h1>
        <form th:object="${teacher}">
            <div class="form-group">
                <label for="name">Name: </label>
                <input type="text" class="form-control" id="name" placeholder="Enter name"
                       th:field="${teacher.name}"
                       required="true"/>
            </div>

            <div class="form-group">
                <label for="name">Username: </label>
                <input type="text" class="form-control" id="username" placeholder="Enter username"
                       th:field="${teacher.user_name}"
                       required="true"/>
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label for="pass_word">change password: </label>
                    <input type="password" class="form-control" id="pass_word" placeholder="password"
                           th:field="${teacher.pass_word}"
                           required="true"/>
                </div>


            </div>



            <button type="button" class="btn btn-outline-success" id="update-btn">Update</button>
            <button type="reset" class="btn btn-outline-danger">Reset</button>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script th:inline="javascript">
    $(document).on('click', '#update-btn', function () {
        console.log("btn pressed");
        console.log($('#name').val());
        var carid = [[${teacher.id}]];
        $.ajax({
            url: "http://localhost:8080/teacher/update/"+carid,
            method: "put",
            data: {
                name: $('#name').val(),
                user_name:$('#username').val(),
                pass_word: $('#pass_word').val(),
            },
            success: function (resp) {
                alert("This teacher has been updated\n" + JSON.stringify(resp));
                location.href="/";
            },
            error: function (err) {
                alert("ERROR\n" + JSON.stringify(err));
                location.reload();
            }
        });
    });
</script>
<!--<script>-->
<!--var userStringFromLS = localStorage.getItem('user');-->
<!--var user = JSON.parse(userStringFromLS);-->
<!--console.log(user.name);-->

<!--$('#name_span').text(user.name);-->

<!--if (user.gender == 'M') {-->
<!--$('#nav_top').addClass('bg-primary');-->
<!--} else {-->
<!--$('#nav_top').addClass('bg-danger');-->
<!--}-->
<!--</script>-->
</body>
</html>